<div class="chatWrapper">
    <div class="contenedorMsg">
        <div class="contenedorChats"></div>
        <div class="vistaMsg"></div>
    </div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="./js/chatSocket.js"></script>